Goal:
Regenerate 100 employee records using improved methods like:

append() for lists

update() for dictionaries

add() for sets

remove() or pop() to manage data

Use OOP (Object-Oriented Programming) to structure the code cleanly

Step 1: Define the Classes
I’ll create two classes:

1. Experience: to store each past job record.

2. Employee: to store the employee’s profile, skills, and experiences.

In [4]:
import random

# Step 1: Define the Experience class
class Experience:
    def __init__(self, company_id, designation, salary, skills):
        self.company_id = company_id
        self.designation = designation
        self.salary = salary
        self.skills = skills

    def to_dict(self):
        return {
            "company-id": self.company_id,
            "designation": self.designation,
            "salary": self.salary,
            "skills": self.skills
        }

# Step 1: Define the Employee class
class Employee:
    def __init__(self, emp_id, name, designation, department, salary):
        self.employee_id = emp_id
        self.employee_name = name
        self.designation = designation
        self.department = department
        self.employee_salary = salary
        self.employee_skills = set()  # use set to avoid duplicates
        self.experience = []

    def add_experience(self, experience):
        self.experience.append(experience)
        self.employee_skills.update(experience.skills)  # update skills

    def to_dict(self):
        return {
            "employee_id": self.employee_id,
            "employee_name": self.employee_name,
            "designation": self.designation,
            "department": self.department,
            "employee_salary": self.employee_salary,
            "employee_skills": list(self.employee_skills),
            "experience": [exp.to_dict() for exp in self.experience]
        }

Step 2: Generate Random Employee Data
I'll:

Create a list of names, skills, designations, and departments.

Use Python's random module to create 100 employees with:

Unique names

Random salary, designation, department

Two random job experiences per employee

In [ ]:
import json

# Sample data
names = ["Uzma", "Sara", "Ali", "Ahmed", "Ayesha", "Fatima", "Hassan", "Zara", "Bilal", "Nida"]
skills_list = ["python", "java", "c++", "html", "css", "javascript", "sql", "react", "nodejs", "aws"]
designations = ["engineer", "developer", "manager", "analyst", "consultant", "architect", "admin"]
departments = ["software engineering", "data science", "devops", "QA", "HR", "marketing", "IT support"]

# Step 2: Function to generate a random Experience
def generate_experience():
    exp_skills = random.sample(skills_list, random.randint(2, 4))
    return Experience(
        company_id=random.randint(1, 50),
        designation=random.choice(designations),
        salary=random.randint(30000, 100000),
        skills=exp_skills
    )

# Step 2: Create 100 Employees using the Employee class
employees = []
for i in range(1, 101):
    emp_name = random.choice(names) + str(i)
    emp = Employee(
        emp_id=i,
        name=emp_name,
        designation=random.choice(designations),
        department=random.choice(departments),
        salary=random.randint(50000, 200000)
    )

    # Base skills
    base_skills = random.sample(skills_list, random.randint(2, 4))
    emp.employee_skills.update(base_skills)

    # Add 2 random job experiences
    for _ in range(2):
        exp = generate_experience()
        emp.add_experience(exp)

    employees.append(emp.to_dict())

Step 3: Save to .json file and Display Sample Output
In this step:

1. Save the list of 100 employee dictionaries to a JSON file

2. Display the first 3 employee records (as a sample output)

In [6]:
# Step 3: Save employee data to a JSON file
with open("employee_data_class.json", "w") as f:
    json.dump(employees, f, indent=2)

print("File saved as employee_data_class.json")

# Step 3: Display sample output (first 3 employees)
for i, emp in enumerate(employees[:3], start=1):
    print(f"\nEmployee {i}:")
    print(json.dumps(emp, indent=2))

File saved as employee_data_class.json

Employee 1:
{
  "employee_id": 1,
  "employee_name": "Nida1",
  "designation": "developer",
  "department": "HR",
  "employee_salary": 185767,
  "employee_skills": [
    "sql",
    "html",
    "javascript",
    "aws",
    "python",
    "java"
  ],
  "experience": [
    {
      "company-id": 30,
      "designation": "architect",
      "salary": 42401,
      "skills": [
        "python",
        "sql",
        "java",
        "html"
      ]
    },
    {
      "company-id": 15,
      "designation": "engineer",
      "salary": 63289,
      "skills": [
        "aws",
        "javascript"
      ]
    }
  ]
}

Employee 2:
{
  "employee_id": 2,
  "employee_name": "Zara2",
  "designation": "manager",
  "department": "data science",
  "employee_salary": 193565,
  "employee_skills": [
    "react",
    "css",
    "sql",
    "html",
    "nodejs",
    "python",
    "java"
  ],
  "experience": [
    {
      "company-id": 42,
      "designation": "analyst",
      "salary": 69717,
      "skills": [
        "java",
        "react"
      ]
    },
    {
      "company-id": 47,
      "designation": "analyst",
      "salary": 86830,
      "skills": [
        "css",
        "java",
        "nodejs"
      ]
    }
  ]
}

Employee 3:
{
  "employee_id": 3,
  "employee_name": "Fatima3",
  "designation": "architect",
  "department": "IT support",
  "employee_salary": 75890,
  "employee_skills": [
    "react",
    "sql",
    "javascript",
    "nodejs",
    "java",
    "c++"
  ],
  "experience": [
    {
      "company-id": 30,
      "designation": "developer",
      "salary": 98181,
      "skills": [
        "java",
        "react"
      ]
    },
    {
      "company-id": 19,
      "designation": "consultant",
      "salary": 90352,
      "skills": [
        "c++",
        "javascript",
        "nodejs"
      ]
    }
  ]
}

Step 4: Practice with List and Dictionary Methods
In this step:

1. Use methods like append, update, remove, and pop

2. Apply them meaningfully on the employee data

3. Perform the following tasks on the existing employees list:

1. Append a New Skill to an Employee

In [7]:
# Add a new skill to the first employee
employees[0]["employee_skills"].append("docker")
print("Added 'docker' to Employee 1 skills:", employees[0]["employee_skills"])

Added 'docker' to Employee 1 skills: ['sql', 'html', 'javascript', 'aws', 'python', 'java', 'docker']

2. Update the Designation of an Employee

In [8]:
# Update designation of second employee
employees[1].update({"designation": "Senior " + employees[1]["designation"]})
print("Updated designation of Employee 2:", employees[1]["designation"])

Updated designation of Employee 2: Senior manager

3. Remove a Skill from an Employee's Skill List

In [9]:
# Remove 'java' if it exists in third employee's skills
if "java" in employees[2]["employee_skills"]:
    employees[2]["employee_skills"].remove("java")
    print("Removed 'java' from Employee 3 skills:", employees[2]["employee_skills"])
else:
    print("'java' not found in Employee 3 skills")

Removed 'java' from Employee 3 skills: ['react', 'sql', 'javascript', 'nodejs', 'c++']

4. Pop Last Experience from an Employee

In [10]:
# Pop last experience of Employee 4
removed_exp = employees[3]["experience"].pop()
print("Removed experience from Employee 4:", removed_exp)

Removed experience from Employee 4: {'company-id': 4, 'designation': 'admin', 'salary': 88833, 'skills': ['react', 'c++', 'html', 'nodejs']}

Step 5: Add More Logic — Filtering and Searching
Let’s write code to search and filter through the 100 employee records based on certain conditions.

1. Filter Employees by Department

In [11]:
# Find all employees in the 'data science' department
data_science_employees = [emp for emp in employees if emp["department"] == "data science"]
print(f"Total employees in Data Science: {len(data_science_employees)}")

Total employees in Data Science: 16

2. Search Employees with a Specific Skill

In [12]:
# Find employees who know 'python'
python_devs = [emp for emp in employees if "python" in emp["employee_skills"]]
print(f"Employees with Python skill: {len(python_devs)}")

Employees with Python skill: 67

3. Filter Employees with Salary Above a Threshold

In [13]:
# List employees with salary > 100000
high_salary = [emp for emp in employees if emp["employee_salary"] > 100000]
print(f"Employees with salary above 100000: {len(high_salary)}")

Employees with salary above 100000: 66

4. Get Unique Skills Across All Employees

In [14]:
# Collect all unique skills
all_skills = set()
for emp in employees:
    all_skills.update(emp["employee_skills"])
print("Total unique skills found:", len(all_skills))

Total unique skills found: 11

Sorting Employee Records
1. Sort by Salary (High to Low)

In [15]:
# Sort employees by salary in descending order
sorted_by_salary_desc = sorted(employees, key=lambda x: x["employee_salary"], reverse=True)

# Display top 5 highest-paid employees
for i, emp in enumerate(sorted_by_salary_desc[:5], start=1):
    print(f"\nTop {i} Highest Paid Employee:")
    print(f"Name: {emp['employee_name']}, Salary: {emp['employee_salary']}")

Top 1 Highest Paid Employee:
Name: Nida72, Salary: 199867

Top 2 Highest Paid Employee:
Name: Ali22, Salary: 198909

Top 3 Highest Paid Employee:
Name: Fatima16, Salary: 195480

Top 4 Highest Paid Employee:
Name: Ahmed78, Salary: 195132

Top 5 Highest Paid Employee:
Name: Zara2, Salary: 193565

2. Sort by Name (A to Z)

In [17]:
# Sort employees alphabetically by name
sorted_by_name = sorted(employees, key=lambda x: x["employee_name"])

# Display first 5 employees alphabetically
for i, emp in enumerate(sorted_by_name[:5], start=1):
    print(f"\nEmployee {i}: {emp['employee_name']}")

Employee 1: Ahmed21

Employee 2: Ahmed41

Employee 3: Ahmed54

Employee 4: Ahmed55

Employee 5: Ahmed59

3. Sort by Number of Skills (Most Skilled First)

In [18]:
# Sort employees by how many skills they have
sorted_by_skills = sorted(employees, key=lambda x: len(x["employee_skills"]), reverse=True)

# Display top 5 most skilled employees
for i, emp in enumerate(sorted_by_skills[:5], start=1):
    print(f"\nEmployee {i}: {emp['employee_name']} - Skills: {len(emp['employee_skills'])}")

Employee 1: Hassan4 - Skills: 8

Employee 2: Nida6 - Skills: 8

Employee 3: Fatima12 - Skills: 8

Employee 4: Ali22 - Skills: 8

Employee 5: Nida25 - Skills: 8

Step 6: Generate Employee Records Using OOP
1. Define the Experience Class

In [19]:
import random

class Experience:
    def __init__(self, company_id, designation, salary, skills):
        self.company_id = company_id
        self.designation = designation
        self.salary = salary
        self.skills = skills

    def to_dict(self):
        return {
            "company_id": self.company_id,
            "designation": self.designation,
            "salary": self.salary,
            "skills": self.skills
        }

2. Define the Employee Class

In [20]:
class Employee:
    def __init__(self, emp_id, name, designation, department, salary, base_skills):
        self.emp_id = emp_id
        self.name = name
        self.designation = designation
        self.department = department
        self.salary = salary
        self.base_skills = base_skills
        self.experiences = []

    def add_experience(self, experience):
        self.experiences.append(experience)

    def all_skills(self):
        skill_set = set(self.base_skills)
        for exp in self.experiences:
            skill_set.update(exp.skills)
        return list(skill_set)

    def to_dict(self):
        return {
            "employee_id": self.emp_id,
            "employee_name": self.name,
            "designation": self.designation,
            "department": self.department,
            "employee_salary": self.salary,
            "employee_skills": self.all_skills(),
            "experience": [exp.to_dict() for exp in self.experiences]
        }

3. Generate 100 Employees

In [ ]:
import json

names = ["Uzma", "Sara", "Ali", "Ahmed", "Ayesha", "Fatima", "Hassan", "Zara", "Bilal", "Nida"]
skills_list = ["python", "java", "c++", "html", "css", "javascript", "sql", "react", "nodejs", "aws"]
designations = ["engineer", "developer", "manager", "analyst", "consultant", "architect", "admin"]
departments = ["software engineering", "data science", "devops", "QA", "HR", "marketing", "IT support"]

employees = []

for i in range(1, 101):
    name = random.choice(names) + str(i)
    base_skills = random.sample(skills_list, random.randint(2, 4))
    designation = random.choice(designations)
    department = random.choice(departments)
    salary = random.randint(50000, 200000)
    emp = Employee(i, name, designation, department, salary, base_skills)

    for _ in range(2):  # Add 2 experiences
        exp_skills = random.sample(skills_list, random.randint(2, 5))
        exp = Experience(
            company_id=random.randint(1, 50),
            designation=random.choice(designations),
            salary=random.randint(30000, 100000),
            skills=exp_skills
        )
        emp.add_experience(exp)

    employees.append(emp.to_dict())

# Save to JSON
with open("employee_data_oop.json", "w") as f:
    json.dump(employees, f, indent=2)

print("Generated 100 employees using OOP and saved as employee_data_oop.json")

Generated 100 employees using OOP and saved as employee_data_oop.json

Step 7: Filter Employees by Department or Skills

1. Filter Employees by Department
Example: Get all employees who work in Data Science

In [22]:
def filter_by_department(employees, dept):
    return [emp for emp in employees if emp['department'] == dept]

data_science_employees = filter_by_department(employees, "data science")

print(f"Employees in Data Science department: {len(data_science_employees)}")
for emp in data_science_employees[:3]:  # show first 3 employees
    print(emp['employee_name'], "-", emp['department'])

Employees in Data Science department: 13
Ali8 - data science
Hassan13 - data science
Ali21 - data science

2. Filter Employees by Skill
Example: Get all employees who know python

In [23]:
def filter_by_skill(employees, skill):
    return [emp for emp in employees if skill in emp['employee_skills']]

python_devs = filter_by_skill(employees, "python")

print(f"Employees with Python skill: {len(python_devs)}")
for emp in python_devs[:3]:  # show first 3 employees
    print(emp['employee_name'], "-", emp['employee_skills'])

Employees with Python skill: 64
Zara1 - ['react', 'html', 'aws', 'python', 'c++']
Bilal2 - ['react', 'sql', 'css', 'html', 'javascript', 'nodejs', 'python', 'java']
Fatima3 - ['sql', 'css', 'aws', 'javascript', 'nodejs', 'python', 'java']

3. Bonus: Filter by Multiple Skills
Get employees who have both python and java

In [24]:
def filter_by_skills(employees, skills):
    return [emp for emp in employees if all(skill in emp['employee_skills'] for skill in skills)]

py_java_devs = filter_by_skills(employees, ["python", "java"])

print(f"Employees with Python & Java skills: {len(py_java_devs)}")
for emp in py_java_devs[:3]:
    print(emp['employee_name'], "-", emp['employee_skills'])

Employees with Python & Java skills: 43
Bilal2 - ['react', 'sql', 'css', 'html', 'javascript', 'nodejs', 'python', 'java']
Fatima3 - ['sql', 'css', 'aws', 'javascript', 'nodejs', 'python', 'java']
Sara4 - ['react', 'sql', 'html', 'aws', 'javascript', 'nodejs', 'python', 'java', 'c++']

Step 8: Save Filtered/Sorted Data to JSON

In [25]:
import json

# Suppose you have a filtered list, e.g., python_devs from step 7
filtered_employees = python_devs  # or any filtered/sorted list

# Save to a new JSON file
with open("filtered_employees.json", "w") as f:
    json.dump(filtered_employees, f, indent=2)

print("Filtered employee data saved as filtered_employees.json")

Filtered employee data saved as filtered_employees.json